<!-- HEADER -->
<app-header></app-header>
<!-- CARRUSEL -->
<app-carrusel></app-carrusel>
<!-- CATEGORIAS EN CARD -->
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 p-4 mt-5">
    <app-category-card></app-category-card>
    <app-category-card></app-category-card>
    <app-category-card></app-category-card>
    <app-category-card></app-category-card>
</div>
<!-- PRODUCTOS EN CARDS-->
<!-- CARDS -->
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 p-4">
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
</div>
<!-- INFORMACION DE LA EMPRESA -->
<app-company-information></app-company-information>
<!-- FOOTER -->
<app-footer></app-footer>
